body {
	background: #FAFAFA;
	color: #262525;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	width: 100%;
	position: relative;
	height: 70px;
	font-family: 'Cinzel', serif;
	display: inline-block;
	font-size: 30px;
}

header li {
	display: inline-block;
	background: #FAFAFA;
	color: #262525;
	padding: 20px;
	border: 3px solid;
	border-color: #D9D9D9 #FAFAFA #D9D9D9 #FAFAFA;
	margin-right: 40px
}

header li:hover {
	background: #D9D9D9;
	font-weight: bold;
}
section {
	background:#FAFAFA;
	float:right;
	width: 600px;
	border-right: solid 3px #D9D9D9;
	padding-right: 3px;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-family:'Gilda Display', serif;
}
section h1 {
	font-size: 22px
}

section h2 {
	font-size: 18px
}


article {
	border-bottom: solid 3px #D9D9D9;
	margin-bottom: 20px
}

footer {
	clear: both;
	background: #FAFAFA;
	font-size: 18px;
	font-family: 'Cinzel', serif;
	width: 100%;
	border-top: solid 3px #D9D9D9;
	border-bottom: solid 3px #D9D9D9;
	text-align: center;
	height: 24px;
	margin-bottom: 2px
}

footer a {
	color: #262525;
}

.right_header {
	font-size: 24px;
	float: right;
}
