body {
	background: #FAFAFA;
	color: #262525;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	width: 100%;
	position: relative;
	height: 70px;
	font-family: 'Cinzel', serif;
	display: inline-block;
	font-size: 30px;
}

header li {
	display: inline-block;
	background: #FAFAFA;
	color: #262525;
	padding: 20px;
	border: 3px solid;
	border-color: #D9D9D9 #FAFAFA #D9D9D9 #FAFAFA;
	margin-right: 40px
}

header li:hover {
	background: #D9D9D9;
	font-weight: bold;
}

section {
	float: left;
	width: 300px;
	text-align: center;
	padding-left: 30px;
	border-left: solid 3px #D9D9D9;
	margin-top: 30px;
	margin-right: auto;
	margin-left: 30px
}

section p {
	font-family:'Gilda Display', serif;
}
nav {
	background: #FAFAFA;
	display: inline-block;
	width: 700px;
	padding-right: 2px;
	border-right: solid 3px #D9D9D9;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline-block;
	color: #262525;
	text-align: center;
	width: 260px;
	height: 40px;
	border: none;
	font-family:'Gilda Display', serif;
	font-size: 20px;
	margin-top: 10px;
}

nav li:hover {
	font-weight: bold;
}

.weekly_work {
	float: right;
}

h2 {
	font-family: 'Cinzel', serif;
}

footer {
	clear: both;
	background: #FAFAFA;
	font-size: 20px;
	font-family: 'Cinzel', serif;
	width: 100%;
	border-top: solid 3px #D9D9D9;
	border-bottom: solid 3px #D9D9D9;
	text-align: center;
	height: 24px;
	margin-bottom: 2px
}

footer a {
	color: #262525;
}

.right_header {
	font-size: 24px;
	float: right;
}


font-family: 'Gilda Display', serif;
font-family: 'Cinzel', serif; (has bold)