body {
	background: #E4E9F0;
	color: #2B4357;
}

a {
	color: #E4E9F0;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	width: 100%;
	position: relative;
	height: 70px;
	font-family: 'Cinzel', serif;
	display: inline-block;
	font-size: 30px;
}

header li {
	display: inline-block;
	background: #2B4357;
	color: #E4E9F0;
	width: 100%;
	padding: 10px;
	border: solid;
	border-radius: 25px;
	border-color: #E4E9F0;
	margin: 5px
}

nav {
	display: inline-block;
	width: 700px;
	border: solid;
	border-radius: 50px;
	border-color: #1C2D3B;
	margin-left: 200px;
	margin-right: 200px
}

nav ul {
	margin: 5px;
	border: 1px;
	padding: 5px;
	max-width: 700px
}

nav li {
	display: inline-block;
	background: #2B4357;
	color: #E4E9F0;
	text-align: center;
	width: 200px;
	height: 150px;
	font-family:'Gilda Display', serif;
	font-size: 20px;
	margin: 10px
}

nav li:hover {
	background: #1C2D3B;
}

footer {
	background: #2B4357;
	width: 100%;
	color: #E4E9F0;
	text-align: center
}

right_header {
	display: inline-block;
	float: right;
	text-align: center;
	background: #2B4357;
	font-family: 'Cinzel', serif;
	position: relative;
	width: 50%;
}

left_header {
	background: #2B4357;
	position: relative;
	float:left;
	text-align: center;
	color: #E4E9F0;
	font-family: 'Cinzel', serif;
	width: 30%
}

left_header a:hover {
	background: #1C2D3B;
	font-weight: bold;
}




font-family: 'Gilda Display', serif;
font-family: 'Cinzel', serif; (has bold)