body {
	background: #E4E9F0;
	color: #2B4357;
}

a {
	color: #E4E9F0;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	width: 100%;
	position: relative;
	height: 70px;
	font-family: 'Cinzel', serif;
	display: inline-block;
	font-size: 30px;
}

header li {
	display: inline-block;
	background: #E4E9F0;
	color: #2B4357;
	padding: 20px;
	border: 3px solid;
	border-color: #2B4357 #E4E9F0 #2B4357 #E4E9F0;
	margin-right: 40px
}

header li:hover {
	background: #1C2D3B;
	font-weight: bold;
}


nav {
	display: inline-block;
	width: 700px;
	border: solid;
	border-radius: 50px;
	border-color: #1C2D3B;
	margin-left: 240px;
	margin-right: 200px;
	margin-top: 60px
}

nav ul {
	margin: 5px;
	border: 1px;
	padding: 5px;
	max-width: 700px
}

nav li {
	display: inline-block;
	background: #2B4357;
	color: #E4E9F0;
	text-align: center;
	width: 200px;
	height: 150px;
	font-family:'Gilda Display', serif;
	font-size: 20px;
	margin: 10px;
	border-radius: 25px
}

nav li:hover {
	background: #1C2D3B;
}

footer {
	font-size: 20px;
	font-family: 'Cinzel', serif;
	background: #2B4357;
	width: 100%;
	color: #E4E9F0;
	text-align: center;
	margin-top: 20px;
	height: 50px
}

.right_header {
	font-size: 24px;
	float: right;
}


font-family: 'Gilda Display', serif;
font-family: 'Cinzel', serif; (has bold)