body {
	background: #E8E8E8;
	color: #2B4357;
}

a {
	color: #E8E8E8;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	width: 100%;
	position: relative;
	height: 70px;
	font-family: 'Cinzel', serif;
	display: inline-block;
	font-size: 30px;
}

header li {
	display: inline-block;
	background: #E8E8E8;
	color: #2B4357;
	padding: 20px;
	border: 3px solid;
	border-color: #D9D9D9 #E8E8E8 #D9D9D9 #E8E8E8;
	margin-right: 40px
}

header li:hover {
	background: #D9D9D9;
	font-weight: bold;
}


nav {
	background: #AEC0CF;
	display: inline-block;
	width: 700px;
	border: solid;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 60px
}

nav h2 {
	text-align: center;
}

nav li {
	display: inline-block;
	color: #E8E8E8;
	text-align: center;
	width: 260px;
	height: 60px;
	font-family:'Gilda Display', serif;
	font-size: 20px;
	margin: 10px;
}

nav li:hover {
	background: #D9D9D9;
}

nav li p {
	font-size: 14px
}

footer {
	font-size: 20px;
	font-family: 'Cinzel', serif;
	width: 100%;
	color: #2B4357;
	border-bottom: solid 3px #D9D9D9;
	text-align: center;
	margin-top: 20px;
	height: 50px
}

.right_header {
	font-size: 24px;
	float: right;
}

.weekly_work {
	float: right;
	border-top: solid 3px #D9D9D9;
}

font-family: 'Gilda Display', serif;
font-family: 'Cinzel', serif; (has bold)