body {
	background-color: navy;
	color: white;
	text-align: center
}

h1 {
	font-family: 'Cinzel', serif
}

a {
	font-size: 25px;
	font-family: lucida;
	color: white
}
a:hover {
	color:#DBDBDB
}


font-family: 'Gilda Display', serif;
font-family: 'Cinzel', serif; (has bold)