#header, #content {
	background-color: #d8d8d8;
	padding:3px;
	margin:1px;
	border:10px inset: black;
	text-align: center
}

#sidebar, #footer{
	background-color: black;
	color:white;
	padding:3px;
	margin:1px;
	border:1px inset: #d8d8d8;
}
#header {
	font-size: 40px
}

#sidebar {
	height:700px;
	float: left;
}

#content {
	width:83%;
	float:right;
	font-size: 20px
}
#footer {
	clear: both;
	text-align: center;
	float:center;
	
}

p {width:100%;
	text-align: center}

h1 {
	top:30px;
}

h2 {
	font-size: 30px;
	font-family: lucida
}

h3 {
	font-size: 20px;
	color: aqua
}

h4 {
	font-size: 30px;
	font-family: lucida
}

