body{background-color: white}
#header {
	background-color:black;
	color:white;
	height:300px;
	width:100%;
	font-size: 40 text;
	text-align: center;
	font-family: lucida
}
img{
	padding: all 2px
}
#content {
	position:relative;
	bottom:20px;
	left:50px;
	text-align: center;
	background-color: white; 
	width: 500px; 
	padding:all 5px;
	margin:4px;
	font-size: 20px;
}

#sidebar h2 ul h3 h4{
	float: left;
	text-align: center;
	height:700px;
	width: 200px;
	background-color: #d8d8d8;
	color: white
}
h3{
	font-family: lucida
}
h4{
	color: black;
	font-size:30 text;
}

#footer {
	position: absolute;
	top:800px;
	width:100%;
	height:5%;
	background-color:#d8d8d8 ;
	color:black;
}

