#header {
	background-color:#d8d8d8;
	color:white;
	height:300px;
	width:100%;
}
#footer, #sidebar, #content, #header{
	text-align: center;

}
#sidebar,h2 {
	height:80%;
	width: 200px;
	float: left;
	background-color: #d8d8d8
}
h3 {
	background-color: white; 
	width: 75%; 
	margin:10px auto 10px auto;
	float:right;
	padding: 2px;
	margin:2px;
	font-size: 20px;
}
#content{
	float: right;
	width: 500px
}
#footer {
	position: absolute;
	top:800px;
	width:100%;
	height:5%;
	background-color:#d8d8d8 ;
	color:black;
}
.Family-Members{
	background-color: grey;
	padding:all 10px;
	border:all 1px;
	border-color:black;
	margin:3px;
	font-family: lucida;
	color: black;
	max-width: 50px

}