#header, #content {
	background-color: #d8d8d8;
	padding:3px;
	margin:1px;
	border:10px inset: #383838;
	text-align: center
}

#sidebar, #footer{
	background-color: black;
	color:white;
	padding:3px;
	margin:1px;
	border:10px inset: #383838;
}
#header {
	font-size: 40px
}

#sidebar {
	height:700px;
	float: left;
}
#content {
	width:70%;
	float:right;
	font-size: 20px
}

p {width:60%;
	text-align: center}

h2 {
	font-size: 30px;
	font-family: lucida
}

h3 {
	font-size: 20px;
	color: aqua
}

h4 {
	font-size: 30px
}

#footer {
	text-align: center;
	position: absolute;
	top: 800px
}