body {
	background-color: navy;
	color: white;
	text-align: center
}
h1 {
	font-family: lucida;
	font-size: 35;
	color: aqua;
	text-align: center
}

p {
	text-align: center;
	width: 50%;
	float: center
}
